bin
/src/main/java/whowhatwhere/controller/visualtrace/GoogleStaticMapsAPIKey.java
jnetpcap.dll
JNativeHook.dll
Who What Where.log*
stderr.log
/target/
/dist/exe/
/dist/Installer/
/dist/installer-resources/jre1.8.0_121/
/dist/installer-resources/WinPcap_4_1_3.exe
